.container{max-width: 1030px; padding-left: 15px; padding-right: 15px;  margin: 40px auto 0 auto;}
.container .subMenu{width: 25.899999%; float: left;box-sizing: border-box;}
.container .subMenu {padding-right: 17px; border-right: 1px solid #ccc;}
.container .subMenu li:nth-of-type(1){background: url(../images/xsjx_1.gif)no-repeat 20px center;}
.container .subMenu li:nth-of-type(2){background: url(../images/hy_1.gif)no-repeat 20px center;}
.container .subMenu li:nth-of-type(3){background: url(../images/ydh_1.gif)no-repeat 20px center;}
.container .subMenu li:nth-of-type(4){background: url(../images/dxs_.gif)no-repeat 20px center;}
.container .subMenu li:nth-of-type(5){background: url(../images/hj_1.gif)no-repeat 20px center;}
.container .subMenu li:nth-of-type(6){background: url(../images/sdwh_1.gif)no-repeat 20px center;}




.container .subMenu li a{
	display: block;
    padding-left: 70px;
    font-size: 22px;
    line-height: 77px;
    height: 77px;
    color: #222;
    border-bottom: 4px solid #fff;
    text-overflow:ellipsis; overflow:hidden;white-space:nowrap;
}
.container .subMenu .hover a{border-bottom: 4px solid #fa9634;}
.container .main{padding: 5px 0px 40px 48px; float: left; width: 74.100001%; box-sizing: border-box;}
.container .main h4{font-size:18px; line-height:50px; height: 50px; font-weight: bold; color:#fa9634;}
.container .main p{font-size:16px; line-height: 30px;}
.container .main p{text-indent: 30px;}








.container .main #sequence{display:none !important;}
/*轮播图*/
.banner{display: block;}
.banner .flexslider .slides li img{width: 100%; min-height: 150px;}
.banner .flexslider{position:relative;overflow:hidden;background:url(../images/bx_loader.gif)50% no-repeat;
width:100%; max-width:1920px;}
.banner .slides{position:relative;z-index:1;}
.banner .flex-control-nav{position:absolute;bottom:11px;z-index:2;width:100%;text-align:center;}
.banner .flex-control-nav li{
	width: 100%;
	display:inline-block;width:40px;height:8px;margin:0 8px;
	display:inline;zoom:1;}
.banner .flex-control-nav a:hover{background: #fa9336;}
.banner .flex-control-nav a{
	background:rgba(255,255,255,.8);
	display:inline-block;width:40px;height:8px;line-height:40px;overflow:hidden;cursor:pointer;}
.banner .flex-control-nav .flex-active{background: #fa9336;}

.banner .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.banner .flex-direction-nav li a{display:block;width:32px;height:31px;overflow:hidden;cursor:pointer;position:absolute;
top: 50%;}
.banner .flex-direction-nav li a.flex-prev{left:5%;background:url(../images/controls.png) 0 0 no-repeat;}
.banner .flex-direction-nav li a.flex-next{right:5%;background:url(../images/controls.png) -43px 0 no-repeat;}
.banner .flex-direction-nav li a:hover{background-position-y: -32px !important;}
/*轮播图结束*/
@media screen and (min-width: 1041px){
	.container .main #sequence{display:block !important;}
	.banner {display: none !important;}
	.container .main p:first-of-type{margin-top: 33px;}
	
	
}
@media screen and (min-width:1000px){

	/*.container .main #sequence{display: none !important;}*/

	
	.container .subMenu li:nth-of-type(1):hover{background: url(../images/xsjx.gif)no-repeat 20px center;}
	.container .subMenu li:nth-of-type(2):hover{background: url(../images/hy.gif)no-repeat 20px center;}
	.container .subMenu li:nth-of-type(3):hover{background: url(../images/ydh.gif)no-repeat 20px center;}
	.container .subMenu li:nth-of-type(4):hover{background: url(../images/dxs.gif)no-repeat 20px center;}
	.container .subMenu li:nth-of-type(5):hover{background: url(../images/hj.gif)no-repeat 20px center;}
	.container .subMenu li:nth-of-type(6):hover{background: url(../images/sdwh.gif)no-repeat 20px center;}
	.container .subMenu li:hover a{border-bottom: 4px solid #fa9634;}
}
@media screen and (max-width:1000px) and (min-width:761px){
	.banner {display: block;}
	.container .main #sequence{display: none !important;}
	.container .subMenu{width: 29%;}
	.container .subMenu li{background-position: 10px center !important;}
	.container .subMenu li a{padding-left: 60px; line-height: 66px; height: 66px; font-size: 20px;}
	.container .subMenu li:hover a{border-bottom: 4px solid #fff !important;}
	.container .main{width: 71%;}
		
}
@media screen and (max-width:760px) and (min-width:481px){
	.container .main #sequence{display: none !important;}
	.container .subMenu li:hover a{border-bottom: 4px solid #fff !important;}
	
	.container{margin-top: 20px;}
	.container .subMenu,.container .main{width: 100%; float: none;}
	.container .subMenu{border-right: none;}
	.container .subMenu li{float: left; width:33.333333333333333%; }
	.container .subMenu li{background-position: center 10px !important;}
	.container .subMenu li a{padding-left: 0; padding-top: 50px; text-align: center;font-size: 20px; line-height: 50px; height: 50px;}
	.container .main{padding-left: 0; padding-bottom: 0;}
	
	.container .main p{text-indent: 30px;}
}
@media screen and (max-width:480px){
	.banner .flex-control-nav{bottom: 12px;}
	.banner .flex-control-nav li{margin: 0;}
	.banner .flex-control-nav a{
	width:30px;height:4px; margin: 0 5px;}
	
	
	.container .main #sequence{display: none !important;}
	.container{margin-top: 20px;}
	.container .subMenu,.container .main{width: 100%; float: none;}
	.container .subMenu{border-right: none;}
	.container .subMenu li{float: left; width:33.33333333%; }
	.container .subMenu li{background-position: center 10px !important;}
	.container .subMenu li a{font-weight: 100;padding-left: 0; padding-top: 50px; text-align: center;font-size:16px; line-height:40px; height:40px;}
	.container .subMenu li a span{display: none;}
	.container .main{padding-left: 0; padding-bottom: 0;}
	.container .main h4{font-size:16px; line-height:30px; height: 30px; padding-top: 10px;}
	
	.container .main p{font-weight: 100; font-size: 14px; text-indent: 30px;}
}
